<div class="col-md-3 img-wrap">
  <% options = "#{t("lightbox.label")} #{link_to photo.user.name, photo.user} " %>
  <% if photo.user == current_user || photo.event.user == current_user %>
    <% options << "#{link_to fa_icon("trash"),
      event_photo_path(photo.event, photo), method: :delete, data: { confirm: t("confirmation.photo_delete") }}" %>
  <% end %>
  <a href="<%= photo.photo.url %>" data-lightbox="lbox" data-title="<%= options %>">
    <img src="<%= photo.photo.thumb.url %>"></a>
</div>
